/*
1 - Posicione o Mário acima do Goomba.
2 - Posicione a tag p para que fique dentro do balão de fala.
3 - Posicione o balão para que se torne uma fala de Bowser.
*/

.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
    bottom: 1px;
    top: 150px;
}

.goomba {
    width: 100px;
    position: absolute;
    z-index: 2;
    left: 120px;
    bottom: 1px;
    top: 410px;
}

.baloon {
    width: 300px;
    position: absolute;
    z-index: 3;
    left: 300px;
    bottom: 600px;
}

.speach {
    font-size: 25px;
    position: absolute;
    z-index: 4;
    left: 320px;
    bottom: 680px;
}

.bowser {
    width: 200px;
    position: absolute;
    z-index: 5;
    left: 600px;
    bottom: 1px;
    top: 300px;
}