* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

.header-nav{
  display: flex;
  justify-content: space-around;
  background-color:#323433;
  align-items: center;
  color: white;
}

.header-nav h1{
  font-size: 25px;
}

.section-one p{
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
}

.section-two{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px auto;
  width: 35%;
  padding-top: 20px;
}

.gallery-card {
  align-items: center;
  background-color: rgb(241, 241, 241);
  border-radius: 15px;
  box-shadow: 2px 3px rgba(161, 161, 161, 0.5);
  display: flex;
  flex-direction: column;
  height: 220px;
  justify-content: center;
  margin: 0 10px 15px 0;
  width: 180px;
}

.gallery-img {
  width: 150px;
}

hr {
  margin-top: 10px;
  width: 25%;
}

footer{
  display: flex;
  justify-content: center;
}
